@import 'colors.scss';
body{
  margin: 0 auto;
  padding: 0 auto;
}
.baseTheme {
  $primary: $washioBlueLight;
  $primaryDark: $washioBlueDark;
  $backgroundLight: $washioBackgroundLight;
  $backgroundDark: $washioBackgroundDark;
  background-color: $backgroundLight;
  font-family: 'Open Sans', sans-serif;

  //colors
  * {
    outline: none!important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  .navbar-custom {
    background-color: $primary;
    color: $white;
    height: 75px;
    padding-left: 20px;
    padding-right: 20px;

    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;
    .navbar-brand {
      img {
        height: 35px;
        width: auto;

        // margin-top: -7px;
        margin-right: 10px;
      }
      span {
        padding-top: 10px;
        color: $white;
      }
    }
    .navbar-toggle {
      margin-top: 18px;
      background-color: $primaryDark;
    }
    .icon-bar {
      background-color: $white;
    }
    @media only screen and (max-width: 766px) {
      .collapsing,
      .in {
        background-color: $primaryDark;
        margin-top: 15px;
      }
      .collapsing ul li a,
      .in ul li a {
        color: $washioBackgroundLight!important;
      }
      .collapsing ul li a:hover,
      .in ul li a:hover {
        color: $primary!important;
      }
    }
    .navbar-nav > {
      li > a {
        color: $white;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 25px;
        font-size: 16px;
        &:hover,
        &:active {
          text-decoration: none;
          background-color: inherit;
          color: $primaryDark;
          background-color: transparent;
        }
      }
      .active > a {
        color: $primaryDark;
        background-color: transparent;
      }
    }
  }
  .navbar-nav > .active > a {
    &:hover {
      color: $washioBlueDark;
      background-color: transparent;
    }
    &:focus {
      color: $washioBlueDark;
      background-color: transparent;
    }
  }
  .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
  }
  .subHeader {
    // @extend .fw;
    width: 100%;
    margin-top: -20px;
    background-color: $primary;
    top: 0px;
    height: 400px;

  }
  .subheader-one{
    h1,h2,h3,h4,h5,p{
      color: $backgroundLight;
      font-weight: bold;
    }
  }
  .fw {
    position: absolute;
    width: 100%;
    left: 0;
  }
}
